.label {

    font-weight: 600;
    text-decoration: none;
    color: #2a363b;
font-size: 18px;
}


.btn{
   
    font-weight: 200;
    text-decoration: none;
    color: #2a363b;
font-size: 18px;
background-color:#2196f3;
border: 1px;
border-radius: 5px;
margin-left: 15px;
}